<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>API demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">API demo</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <h5>Demo frontend for the AI-powered Form and the API behind it</h5>
  </div>
</div>

<div class="container" style="background-color: #F0F0F0;">
  <p>&nbsp;</p>
  <h3>Candidate information</h3>
  <form>
    <div class="form-group">
      <label for="userid">User Id:</label>
      <input type="text" class="form-control" id="userid" placeholder="user42" value="user42" required>
    </div>
  </form>
  <p>&nbsp;</p>
  <h4>Let's start by listing all your past experiences</h4>
  <p>For example:</p>
  <p>
    I don't have much work experience since I only finished high school last year. Since then, I had a part-time job in a bookshop, selling books.
    My responsibilities were: handling the new books that arrived, sorting them and putting onto the shelf when I was asked to. This was in Lyon.</p>
  <h5>Work Experience 1</h5>
  <form>
    <div class="form-group">
      <textarea class="form-control" id="free-form-descr-e1" rows="5" placeholder="" required></textarea>
    </div>
  </form>
  <h5>Work Experience 2</h5>
  <form>
    <div class="form-group">
      <textarea class="form-control" id="free-form-descr-e2" rows="5" placeholder="" required></textarea>
    </div>
  </form>
  <h5>Work Experience 3</h5>
  <form>
    <div class="form-group">
      <textarea class="form-control" id="free-form-descr-e3" rows="5" placeholder="" required></textarea>
    </div>
  </form>
  <p>&nbsp;</p>
  <h5>Other relevant experiences outside formal work (volunteering, informal work, care work for family members, etc.)</h5>
  <p>Mention anything that demonstrate your skills that might be relevant for an employer)</p>
  <form>
    <div class="form-group">
      <textarea class="form-control" id="free-form-descr-e4" rows="5" placeholder="" required></textarea>
    </div>
  </form>

  <form>
    <button type="submit" class="btn btn-primary mb-2" style="margin-top:1em;" id="button-identify-skills">Identify my skills</button>
  </form>
  <p>&nbsp;</p>

  <form>
    <button type="submit" class="btn btn-primary mb-2" style="margin-top:1em;" id="button-find-jobs">Find matching jobs</button>
  </form>
  <p>&nbsp;</p>

  <div id="suggestionContainer" style="display: none;">
    <h4>Here are our suggested jobs for you:</h4>
    <div id="jobTemplate">
      <h5 class="jobTitle">Placeholder job</h5>
      <p class="jobDescription">Assist in organizing and executing cultural events, such as art exhibitions, concerts, or theater performances. This role involves tasks like ticketing, coordinating volunteers, and providing logistical support.</p>
      <p >Apply here: <a class="jobLink" href="https://jobs.makesense.org/en/jobs/delta-france-association-stage-assistante-relations-institutionnelles-culture-HLD7D9ws3Sd0sQUlbqqQ?" target="_blank">link to job posting</a></p>
      <p>&nbsp;</p>
    </div>
</p>
  </div>

</div>

<div class="container">
  <footer>
    <p>Rendered on: {{ render_time }}</p>
  </footer>
</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>

const button = document.getElementById('button-find-jobs');
const inputElement = document.getElementById('free-form-descr-e1');

function send_user_input() {
  console.log("Sending '" + inputElement.value + "' to the server...");
  button.style.color = "grey";

  fetch('api/candidate_info_instant', {
    method: 'POST',
    headers: {'Content-Type': 'application/json' },
    body: JSON.stringify({userid: "user42", occupations: [{name: "occupation1", description: inputElement.value}] }),
  })
  .then(response => {
    console.log('Candidate input data is sent to the server. Response code: ' + response.status);
    button.style.color = "pink";
    if (!response.ok) {
      throw new Error('API request failed with status: ${response.status}');
    }
    return response.json();
  })
  .then(data => {
    console.log('Data: ' + data);
    console.log('Content: ' + data.content);
    show_results(data.content);
  })
  .catch(error => {
    console.error('Error: ', error);
  });
};

function show_results(suggestion_list) {
  const containerNode = document.getElementById('suggestionContainer');
  const jobTemplateNode = document.getElementById('jobTemplate');

  suggestion_list.forEach(job => {
    console.log('Job:' + job.job_title);
    const jobDiv = jobTemplateNode.cloneNode(true);
    jobDiv.querySelector('.jobTitle').textContent = job.job_title;
    jobDiv.querySelector('.jobDescription').textContent = job.job_description;
    jobDiv.querySelector('.jobLink').textContent = job.link;
    containerNode.appendChild(jobDiv);
  });
  jobTemplateNode.style.display = 'none';
  containerNode.style.display = 'block';
  }

// Add a click event listener to the send button.
button.addEventListener('click', () => {
  console.log("Button clicked");
  event.preventDefault()
  send_user_input();
});

// Add "press Enter" listener to the input box
inputElement.addEventListener('keydown', function(event) {
  if (event.key === "Enter") {
    send_user_input()
  }
});

</script>

<script>
const skillButton = document.getElementById('button-identify-skills');

// Add a click event listener to the send button.
skillButton.addEventListener('click', () => {
  console.log("Skill button clicked");
  event.preventDefault()
});
</script>

</html>
