<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">My Site</a>
  </div>
</nav>

<div class="container" style="background-color: #F0F0F0;">

  <h2>Demo Frontend</h2>

  <div class="row d-grid gap-2 mx-auto">
    <div class="col-3 ">
      <a class="btn btn-primary" href="/api-demo">Job matching service</a>
    </div>
    <div class="col-3">
      <a class="btn btn-secondary" href="/search">Job search assistant</a>
    </div>
  </div>
  <div class="row">
    <p></p>
  </div>
</div>


<div class="container">
  <footer>
    <p>Rendered on: {{ render_time }}</p>
    <p>Code last updated on: {{ last_update_time }} </p>
  </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</body>
</html>